
.addmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .addmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
  }
  
  .addmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
  }
  
  .addmodal-container input[type=text] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .addmodal-container input[type=text]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
  
  .addmodal-submit {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    font-size: 14px;
    padding: 10px 0;
    background: #166AB5;
    color: #fff;
  }
  
  .addmodal-submit:hover {
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color:transparent;
    color:#166AB5;
    border:solid 2px #166AB5;
  }
  
  .addmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  } 
  
  .button {
    line-height: 40px;
    padding: 0 25px;
    background: #166AB5;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight:600;
  }
  
  .button:hover,
  .button:visited {
    background-color:transparent;
    color:#166AB5;
    border:solid 2px #166AB5;
  }